body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 40px;
}

.wrapper {
	float: left;
	width: 100%;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	line-height: 40px;
	margin: 0 0 40px 0;
	color: #517FA4;
}

a {
	color: #517FA4;
}

a.il-load-more {
	background: #517FA4;
	display: inline-block;
	margin: 40px 0;
	padding: 20px;
	font-size: 14px;
	line-height: 14px;
	text-decoration: none;
	border-radius: 6px;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
}

a.il-load-more:hover {
	background: #125688;
}

ul {
	padding: 0;
	float: left;
	width: 100%;
}

ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	width: 200px;
}

ul li img,
ul li video {
	display: block;
	width: 100%;
	height: auto;
}