body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 40px;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	line-height: 40px;
	margin: 0 0 40px 0;
	color: #517FA4;
}

a {
	color: #517FA4; 
}

a.load-more {
	display: block;
	margin: 20px 0;
	float: left;
	width: 100%
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	width: 200px;
}

ul li img {
	display: block;
	width: 100%;
	height: auto;
}